body {
    text-align: center;
    background-color: hsl(212, 45%, 89%)
}

.card {
    display: inline-block;
    background-color: hsl(0, 0%, 100%);
    width: 250px;
    height: 430px;
    margin-top: 100px;
    border-radius: 15px;
    padding: 13px 13px 0px 13px;
}

.qr {
    width: 250px;
    border-radius: 10px;
}

.bold-text {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(218, 44%, 22%);
}

.nrml-text {
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
}

.attribution { 
    margin-top: 50px;
    font-size: 15px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    margin-right: 3px;
    text-decoration: none;
}